@value (tablet, mobile, desktop, tabMobile) from "./variable.css";
body {
    font-family: "Titillium Web", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    line-height: 1.3em;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

:global(.page-container-responsive) {
    width: auto;
}

:global(.page-container-responsive) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

@media mobile {
    :global(.container) {
        padding: 0px;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media tablet {
    :global(.container) {
        padding: 0px 22px;
        max-width: 900px;
        margin: 0 auto;
    }
}

@media tabMobile {
    :global(.page-container-responsive) {
        max-width: 696px;
    }
}

@media desktop {
    :global(.container) {
        padding: 0px 62px;
        max-width: 1080px;
        margin: 0 auto;
    }
    :global(.page-container-responsive) {
        max-width: 960px;
    }
}
