.time,
.timer,
.cross,
.people,
.search,
.basket,
.logo,
.list,
.pacman,
.spoon-knife,
.happy,
.happy2,
.tongue,
.tongue2 .chef {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.time:before {
    content: "\e907";
}

.timer:before {
    content: "\e906";
}

.people:before {
    content: "\e909";
}

.cross:before {
    content: "\e905";
}

.basket:before {
    content: "\e900";
}

.search:before {
    content: "\e901";
}

.list:before {
    content: "\e902";
}

.logo:before {
    content: "\e903";
}

.chef:before {
    content: "\e904";
}

.pacman:before {
    content: "\e916";
}

.spoon-knife:before {
    content: "\e9a3";
}

.happy:before {
    content: "\e9df";
}

.happy2:before {
    content: "\e9e0";
}

.tongue:before {
    content: "\e9e3";
}

.tongue2:before {
    content: "\e9e4";
}