.time:before {
  content: "\e907";
}
.timer:before {
  content: "\e906";
}
.user-group:before {
  content: "\e909";
}
.cross:before {
  content: "\e905";
}
.basket:before {
  content: "\e900";
}
.search:before {
  content: "\e901";
}
.list:before {
  content: "\e902";
}
.logo:before {
  content: "\e903";
}
.chef:before {
  content: "\e904";
}
.pacman:before {
  content: "\e916";
}
.spoon-knife:before {
  content: "\e9a3";
}
.happy:before {
  content: "\e9df";
}
.happy2:before {
  content: "\e9e0";
}
.tongue:before {
  content: "\e9e3";
}
.tongue2:before {
  content: "\e9e4";
}

