body{
    font-family: 'Titillium Web', sans-serif;
}

:global(.fsXS){
    font-size: .5em;
}
:global(.fsS){
    font-size: 1em;
}
:global(.fsM){
    font-size: 1.5em;
}
:global(.fsL){
    font-size: 2em;
}
:global(.fsXL){
    font-size: 2.5em;
}
