.nav{
    display: flex;
    padding: 16px 24px;
}
.nav>div,.nav>a{
    margin: 0 16px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
@value primary, sliver from "../shared/varaible.css";

.logo{
    composes: logo from '../shared/icon.css';
    font-size: 36px;
    color: primary;
}
.chef{
    composes: chef from '../shared/icon.css';
    color: sliver;
}
.basketIcon{
    composes: basket from '../shared/icon.css';
    color: sliver;
}
.basket{
    position: relative;
}
.basket>.quantity{
    position: absolute;
    background: primary;
    color: #fff;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    position: absolute;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    padding-left: 8px;
    padding-top: 3px;
    font-size: 14px;

}
.logoLink{
    text-decoration: none;
}