.nav{
    display: flex;
    padding: 16px 24px;
}
.nav>div,a{
    margin: 0 8px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
@value primary, sliver from "../shared/varaible.css";

.logo{
    composes: logo from '../shared/icon.css';
    font-size: 40px;
    color: primary;
}
.chef{
    composes: chef from '../shared/icon.css';
    font-size: 32px;
    color: sliver;
}
.list{
    text-decoration: none;
    composes: list from '../shared/icon.css';
    font-size: 32px;
    color: sliver;
}