@value sliver from "../shared/variable.css";
.box {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid sliver;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
}
.box:after {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 2px;
    background-color: #242424;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.selectedBox {
    composes: box;
}
.selectedBox:after {
    opacity: 1;
    transform: scale(1);
}
