@value (mobile, tablet, desktop, xs) from "../shared/variable.css";
.r {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.c {
    padding: 18px;
    box-sizing: border-box;
    align-self: auto;
}

@media xs {
    .c {
        padding: 10px 0;
    }
}

@media mobile {
    .c {
        width: 100%;
    }
}

@media tablet {
    .c {
        width: 50%;
    }
}

@media desktop {
    .c {
        width: 33.3%;
    }
}

.card {
    position: relative;
}
