.card {
  position: relative;
}

@value ( desktop, tabMobile, cloud, primary, sliver, grey) from "../shared/varaible.css";
@keyframes clickMe {
  0% {
    transform: rotateZ(0deg) translateY(0px);
  }
  30% {
    transform: rotateZ(50deg);
  }
  60% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg) translateY(0px);
  }
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.itemImg {
  padding-top: 70%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.itemImg {
  padding-top: 70%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media desktop {
  .insideWrapper {
    opacity: 0;
    position: absolute;
  }
  .shadow {
    composes: insideWrapper;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0,
      transparent 30%,
      transparent 70%,
      rgba(0, 0, 0, 0.3)
    );
  }
  .title {
    composes: insideWrapper;
    bottom: 5px;
    padding: 10px;
    color: cloud;
  }
  .time {
    composes: insideWrapper;
    top: 5px;
    padding: 10px;
    color: cloud;
  }
  .basketContainer {
    composes: insideWrapper;
    top: 5px;
    right: 5px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
  }
  .addedBasketContainer {
    composes: insideWrapper;
    top: 5px;
    right: 5px;
    padding: 10px;
    color: primary;
    cursor: pointer;
  }
  .basketContainer:hover {
    animation-name: clickMe;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
  }
  .addedBasketContainer:hover {
    animation-name: clickMe;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  .card:hover .insideWrapper {
    opacity: 1;
  }
  .card:hover .itemImg {
    transform: scale(1.1);
    transition: 0.5s ease-out;
  }
}

@media tabMobile {
  .itemText {
    position: relative;
  }
  .title {
    padding: 8px 0;
  }
  .time {
    border-radius: 5px;
    display: inline-block;
    color: grey;
    border: 1px solid grey;
    padding: 3px;
    font-size: 14px;
  }
  .basketContainer {
    position: absolute;
    right: 0px;
    top: 8px;
    color: sliver;
  }
  .addedBasketContainer {
    position: absolute;
    right: 0px;
    top: 8px;
    color: primary;
    cursor: pointer;
  }
}
