@value sliver, grey, cloud, dark from "../shared/varaible.css";
.img{    
    height: 500px;
    width: 70%;
    background-size: cover;
    background-position: center;
}
.intro{
    width: 30%;
    padding: 0 24px;
    box-sizing: border-box;
}
.intro>p{
    font-style: italic;
}
.introDiv{
    display: flex;    
    margin: 0 20px;
    border-radius: 8px;
    border : 1px solid sliver;
    overflow: hidden;
}

.number{
    color: grey;
    display: flex;
    justify-content: space-between;
}
.timer{
    composes: timer from '../shared/icon.css';
}
.people{
    composes: people from '../shared/icon.css';
}
.tag{
    border: cloud solid 1px;
    border-radius: 3px;
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-block;
}
.tag:hover{
    border: grey solid 1px;
}
.detailDiv{
    display: flex;
    margin: 0 20px;    
}
.steps{
    width: 70%;    
    padding: 40px 30px;
    box-sizing: border-box; 
}
.list{
    box-sizing: border-box;
    width: 30%;
    padding: 40px 30px;
}
.list ul {
    list-style: none;
    padding: 0;
}
.list li{
    cursor: pointer;
    line-height: 30px;
}
.box{
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid silver;
    border-radius: 3px;
    margin-right: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 22px;
}
.separator{
    width: calc( 100% - 70px);
    height: 1px;
    background-color: sliver;
}
