@value (sliver, grey, cloud, dark, primary, mobile, deskTab) from "../shared/varaible.css";
@media deskTab {
    .detailDiv {
        display: flex;
        margin: 0 20px;
    }
    .stepsDiv {
        order: 1;
        width: 65%;
        padding: 30px;
        box-sizing: border-box;
    }
    .list {
        order: 2;
        box-sizing: border-box;
        width: 35%;
        padding: 30px;
    }
}

@media mobile {
    .detailDiv {
        margin: 0 10px;
    }
    .list {
        margin-bottom: 20px;
    }
}

.stepItem {
    margin-bottom: 20px;
}

.list ul {
    list-style: none;
    padding: 0;
}

.list li {
    cursor: pointer;
    line-height: 30px;
}

.titleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.separator {
    width: calc(100% - 70px);
    height: 1px;
    background-color: sliver;
}