@value cloud,sliver from "../shared/varaible.css";
.d0{
    width: 100%;
    border-radius: 1em;
    height: 40px;
    display: flex;
    background: cloud;
    border: 1px solid cloud;
}
.d0:focus-within {
    background-color: #fff;
    border: 1px solid sliver;
}
.d0 button{
    background: transparent;
    border: 0; 
    outline: 0;
}
.d0 input{
    background: transparent;
    border: 0;
    outline: 0;
    width: 100%;
}